<seection class="py-5">
  <h1 class="display-3">
    Thank You
  </h1>
  <p class="lead">
    Your new kicks should be mailed to you whenever we feel like sending them
  </p>
  <a href="/" class="btn btn-dark btn-lg">Go Back Home</a>
</seection> 